{
    "presets": [["@babel/env",
    {
        "corejs": 3.6,
        "useBuiltIns": "usage",
        "debug": false,
        "targets": "> 0.25%, not dead, not ie 11"
    }]],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}