.btn
    display: inline-block
    font-size: $size-paragraph
    font-weight: $fw-bold
    font-family: var(--font-paragraph)
    // text-transform: uppercase
    letter-spacing: .5px
    padding: 1rem 2rem

    outline: none
    border: 1px solid var(--color-1-dark)
    border-radius: $border-radius

    background-color: transparent 
    color: var(--color-1-dark)

    cursor: pointer
    @extend .u-depth-1

    transition-property: background-color, border-color, color, box-shadow
    transition-duration: .2s
    transition-timing-function: ease-in-out


    &--chat
        background-color: var(--color-1)
        color: var(--light-alternative)
        padding: .8rem 2rem
        border: none

    &--action
        // @extend .u-depth-2
        color: var(--light-alternative)
        border: 1px solid var(--color-success)
        background-color: var(--color-success)
