.card
    border-radius: $border-radius

    &__img
        object-fit: cover
        border-bottom-left-radius:  $border-radius
        border-top-left-radius:  $border-radius
        

    &__items 
        padding: 1.5rem

    &__title
        font-size: $size-paragraph
        color: var(--color-1-dark)
    &__location, &__amount, button
        font-size: $size-down
    &__amount
        margin: 1rem 0
        text-align: right
        span
            font-size: $size-min
        span:last-child
            font-size: $size-up
            font-weight: $fw-bold
            // color: var(--color-success-dark)

    button
        padding: 1rem .9rem
        font-size: 1.3rem