// Importar tipografia

/********************* RESET *********************/
html
    box-sizing: border-box
    font-size: 62.5%
    scroll-behavior: smooth

    overflow-x: hidden

*,
*::after,
*::before
    box-sizing: inherit
    padding: 0
    margin: 0

body
    font-family: $font-paragraph
    font-size: $size-paragraph
    // line-height: $line-height

    // Por si un elemento se desborda
    overflow-x: hidden

    color: var(--dark)

    display: flex
    align-items: center
    justify-content: center
    width: 100vw
    height: 100vh
    background: linear-gradient(135deg ,var(--color-1) 0,var(--light))


    // Para dar estilos a la barra de scroll
    @extend %custom-scrollbar

// h1, h2, h3
//     font-family: $font-title
//     font-weight: $fw-xbold
//     margin-bottom: $size-paragraph
    
    // color: var(--dark)

// h1
//      font-size: $h1
// h2
//      font-size: $h2
// h3
//      font-size: $h3

p
    font-weight: $fw-regular
    line-height: $lh-body

    // Controlar el espaciado de los parrafos? 
    // margin-bottom: $space-paragraph
    // &:last-child
    //     margin-bottom: 0

a
    font-weight: $fw-regular
    color: var(--light)

    text-decoration: none
    // text-transform: uppercase
    cursor: pointer

    transition: color .3s ease-in-out

    // &:hovercolor: $primary-red

img
    max-width: 100%
    width: 100%
    height: auto

ul
    padding-left: 0

li
    list-style: none

.no-scroll
    overflow: hidden

.container
    width: 100%
    height: 100%
    background-color: var(--light)


    +media('>=phone')
        width: 45rem
        border: 1px solid var(--color-2)
        border-radius: $border-radius

    +media('>=tablet')
        max-height: 90vh
        